:root {
  --container-width: 144rem;
  --gutter: 2rem;
  --color-primary: #f53838;
  --color-primary-shadow: #f5383859;
  --color-secondary: #f53855;
  --color-white: #fff;
  --color-border: #dddddd;
  --color-span: #dde0e4;
  --color-border-span: #eeeff2;
  --color-price-span: #0b132a;
  --color-paragraph: #4f5665;
  --color-very-dark-blue: #0d1025;
  --color-background-footer: #f8f8f8;
  --color-copyright: #afb5c0;
  --border: 2px;
  --border-radius: 10px;
  --font-family-Rubik: "Rubik";
  --font-size-12: 1.2rem;
  --font-size-14: 1.4rem;
  --font-size-16: 1.6rem;
  --font-size-18: 1.8rem;
  --font-size-20: 2rem;
  --font-size-24: 2.4rem;
  --font-size-25: 2.5rem;
  --font-size-28: 2.8rem;
  --font-size-30: 3rem;
  --font-size-32: 3.2rem;
  --font-size-35: 3.5rem;
  --font-size-40: 4rem;
  --font-size-45: 4.5rem;
  --font-size-50: 5rem;
  --font-size-60: 6rem;
  --font-size-70: 7rem;
  --font-size-80: 8rem;
  --font-size-90: 9rem;
  --font-size-100: 10rem;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-900: 900;
  --line-height-30: 3rem;
  --line-height-40: 4rem;
  --line-height-45: 4.5rem;
  --line-height-30: 3rem;
  --line-height-40: 4rem;
  --line-height-50: 5rem;
  --line-height-60: 6rem;
  --line-height-70: 7rem;
  --line-height-80: 8rem;
  --line-height-90: 9rem;
  --line-height-100: 10rem;
  --line-height-110: 11rem;
  --line-height-120: 12rem;
  --line-height-130: 13rem;
  --line-height-140: 14rem;
  --line-height-150: 15rem;
  --line-height-160: 16rem;
  --line-height-170: 17rem;
  --line-height-180: 18rem;
  --img-1-width: 61.124rem;
  --img-1-height: 38.244rem;
  --img-2-width: 50.812rem;
  --img-2-height: 41.471rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
  font-family: Rubik;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body,
[type=submit] {
  border: 0;
  font-size: 1.6rem;
  line-height: 1.896rem;
  font-family: var(--font-family-Rubik);
}

img {
  max-width: 100%;
  height: auto;
}

.containers {
  display: flex;
  flex-direction: column;
  row-gap: 10rem;
  margin: 0 auto;
  max-width: 144rem;
  padding: var(--gutter) var(--gutter) 0;
}

.paragraph {
  color: var(--color-paragraph);
  line-height: var(--font-size-30);
}

.none {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  font-weight: 400;
  list-style: none;
}
.links__link:hover {
  color: var(--color-secondary);
}

/* SIGN */
.sign {
  display: flex;
  gap: 3rem;
  font-weight: 500;
}

.sign__in {
  align-self: center;
}
.sign__in:hover {
  color: var(--color-secondary);
}

.sign__up {
  background-color: var(--color-white);
  color: var(--color-secondary);
  padding: 1.3rem 4.5rem;
  border: var(--border) solid var(--color-secondary);
  border-radius: calc(var(--border-radius) * 5);
  transition: all 0.3s ease;
}
.sign__up:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.sign__up:active {
  background-color: var(--color-white);
  color: var(--color-secondary);
}

/* BURGER */
.burger-menu {
  display: none;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__illustration {
  width: 100%;
  height: auto;
}

.section__content:nth-child(2) {
  max-width: 26.742rem;
}

.section__title {
  font-size: 5rem;
  font-weight: 500;
  line-height: var(--line-height-70);
}
.section__title span {
  font-weight: 700;
}

.section__description {
  margin: 2rem 0;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-30);
}

.section__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.section__list li {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  line-height: 3rem;
}
.section__list img {
  margin-right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
}

.section__button {
  font-weight: 700;
  font-size: var(--font-size-16);
  line-height: var(--line-height-25);
  margin-top: 3rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1.75rem 7.75rem;
  border: var(--border) solid var(--color-primary);
  border-radius: var(--border-radius);
  box-shadow: 0rem 2.5rem 2.5rem -1rem var(--color-primary-shadow);
  transition: all 0.3s ease;
}
.section__button:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  box-shadow: none;
}
.section__button:active {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: 0rem 2.5rem 2.5rem -1rem var(--color-primary-shadow);
}

.section__image {
  width: var(--img-1-width);
  height: var(--img-1-height);
}

.section__rectangle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.721rem 9.1rem;
  border: var(--border) solid var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: 0rem 1rem 7.6rem -7rem var(--color-very-dark-blue);
}
.section__rectangle span {
  height: 12.557rem;
  border: calc(var(--border) - 1px) solid var(--color-border-span);
}

.section__rectangle-content {
  display: flex;
  -moz-column-gap: 3.65rem;
       column-gap: 3.65rem;
  align-items: center;
}

.section__rectangle-icon {
  width: 100%;
  height: 5.5rem;
}

.section__rectangle-num {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 4.5rem;
}

.section__rectangle-paragraph {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: var(--color-paragraph);
}

.section__features {
  display: flex;
  flex-direction: row-reverse;
}
.section__features h2 {
  font-size: var(--font-size-35);
  line-height: var(--line-height-50);
}
.section__features .section__image {
  width: var(--img-2-width);
  height: var(--img-2-height);
}

.section__pricing {
  display: flex;
  flex-direction: column;
}

.pricing__title {
  font-size: var(--font-size-35);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-50);
  justify-content: center;
}

.section__description-pricing {
  margin: 2rem 0;
  text-align: center;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-30);
}

.section__pricing-cards {
  display: flex;
  gap: 5rem;
  align-items: center;
  margin: 4rem;
}

.section__pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 2rem 6rem;
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius);
  transition: all 0.3s ease;
  box-shadow: 0rem 2rem 7rem -7rem #0d1025;
}
.section__pricing-card:nth-child(1) > .section__pricing-card-pricing {
  margin: 13rem 0 5rem;
}
.section__pricing-card:nth-child(2) > .section__pricing-card-pricing {
  margin: 9rem 0 5rem;
}
.section__pricing-card:nth-child(3) > .section__pricing-card-pricing {
  margin: 5rem 0 5rem;
}
.section__pricing-card:hover {
  border: var(--border) solid var(--color-primary);
}
.section__pricing-card button {
  background-color: var(--color-white);
  color: var(--color-primary);
  padding: 1.3rem 6.29rem;
  border: var(--border) solid var(--color-primary);
  border-radius: calc(var(--border-radius) * 5);
  /* margin-bottom: 3.3rem; */
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-700);
  line-height: 18.96px;
  transition: all 0.3s ease;
}
.section__pricing-card button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: 0rem 2.5rem 2.5rem -1rem var(--color-primary-shadow);
}
.section__pricing-card button:active {
  background-color: var(--color-white);
  color: var(--color-primary);
  box-shadow: none;
}

.section__pricing-card {
  flex: 1;
}

.section__pricing-card-image {
  width: 14.49rem;
  margin-top: 7.963rem;
}

.section__pricing-card-title {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-18);
  line-height: var(--line-height-30);
  margin: 3rem 0;
}

.section__pricing-card-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-30);
}
.section__pricing-card-list li {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.section__pricing-card-list li img {
  width: 1.333rem;
  height: 0.907rem;
}

.section__pricing-card-pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
}

.section__pricing-card-price {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-25);
  line-height: var(--line-height-30);
  text-align: center;
}
.section__pricing-card-price span {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-25);
  line-height: var(--line-height-30);
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* second solution */
  /* & div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;

    & h3 {
      font-weight: var(--font-weight-500);
      font-size: var(--font-size-35);
      line-height: var(--line-height-50);
    }

    & p {
      font-weight: var(--font-weight-400);
      font-size: var(--font-size-16);
      line-height: var(--line-height-30);

      & span {
        font-weight: var(--font-weight-500);
      }
    }
  } */
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
.testimonials__content h3 {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-35);
  line-height: var(--line-height-50);
}
.testimonials__content p {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-30);
}
.testimonials__content p span {
  font-weight: var(--font-weight-500);
}

.testimonials__image {
  margin: 15.581rem 0 3.581rem;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
.help__content h3 {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-35);
  line-height: var(--line-height-50);
}
.help__content p {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-30);
}

.help__customers {
  display: flex;
  gap: 5rem;
  margin: 6rem 0;
}

.help__customer {
  flex: 1;
  padding: 3rem;
  border: var(--border) solid var(--color-border);
  border-radius: var(--border-radius);
  box-shadow: 0rem 2rem 7rem -7rem #0d1025;
}
.help__customer:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  border: var(--border) solid var(--color-primary);
}

.help__customer-content {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.help__customer-leftSide {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.help__customer-right {
  margin-left: auto;
}
.help__customer-right span {
  margin-right: 1rem;
}
.help__customer-right img {
  width: 1.6rem;
}

.help__customer-image {
  width: 5rem;
  height: 5rem;
}

.help__customer-head {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.help__customer-name {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-18);
}

.help__customer-country {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: normal;
}

.help__customer-description {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-30);
}

.help__slider {
  width: 100%;
  gap: 1rem;
  margin-bottom: 6.5rem;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spans {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.span-1 {
  background-color: var(--color-primary);
  border-radius: calc(var(--border-radius) * 5);
  width: 4.5rem;
  height: 1.5rem;
}

.span {
  background-color: var(--color-span);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.arrows {
  display: flex;
  gap: 2rem;
  font-size: 3rem;
  color: var(--color-primary);
}

.arrow-1 {
  border: var(--border) solid var(--color-primary);
  border-radius: 100%;
  padding: 1.5rem;
  width: 6.5rem;
  height: 6.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  rotate: 180deg;
}
.arrow-1:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.arrow {
  border: var(--border) solid var(--color-primary);
  border-radius: 100%;
  padding: 1.5rem;
  width: 6.5rem;
  height: 6.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.arrow:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.subscribe {
  display: flex;
  align-items: center;
  padding: 5.85rem 7rem;
  justify-content: space-between;
  border-radius: var(--border-radius);
  box-shadow: 0rem 2rem 8rem -7rem var(--color-very-dark-blue);
}

.subscribe__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.subscribe__title {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-35);
  line-height: var(--line-height-45);
}

.subscribe__description {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-30);
}

.subscribe__button {
  font-weight: 700;
  font-size: var(--font-size-16);
  line-height: var(--line-height-25);
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1.75rem 6.5rem;
  border: var(--border) solid var(--color-primary);
  border-radius: var(--border-radius);
  box-shadow: 0rem 2.5rem 2.5rem -1rem var(--color-primary-shadow);
  transition: all 0.3s ease;
}
.subscribe__button:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  box-shadow: none;
}
.subscribe__button:active {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: 0rem 2.5rem 2.5rem -1rem var(--color-primary-shadow);
}

.footer {
  padding: 18rem 15rem 10rem;
  background-color: var(--color-background-footer);
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__col-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.footer__paragraph span {
  font-weight: var(--font-weight-500);
}

.footer__social {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin: 1rem 0;
}

.social__link {
  width: 3.5rem;
}

.footer__col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__title {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-18);
  line-height: var(--line-height-30);
}

.footer__lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__list {
  color: var(--color-paragraph);
  line-height: var(--line-height-30);
}

.footer__copyright p {
  color: var(--color-copyright);
  line-height: var(--line-height-30);
}
.footer__copyright p span {
  font-weight: var(--font-weight-500);
}

@media (max-width: 1340px) {
  .container {
    row-gap: calc(var(--gutter) * 2);
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6.5px;
  }
  .containers {
    row-gap: 8rem;
  }
  .about {
    gap: 6rem;
  }
  .section__features {
    gap: 6rem;
  }
  .section__rectangle-content {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
  }
  .section__rectangle-num {
    text-align: center;
  }
  .header {
    position: relative;
  }
  .links,
  .sign {
    display: none;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 17px;
    cursor: pointer;
  }
  .burger-menu__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-secondary);
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  .burger-menu__checkbox {
    display: none;
  }
  .burger-menu {
    gap: 0.8rem;
    z-index: 0;
    align-self: center;
    cursor: pointer;
  }
  .burger-menu__bar {
    height: 0.6rem;
    width: 4.5rem;
    transition: var(--transition-timing);
  }
  .burger-menu__checkbox:checked + .navigation {
    top: 100%;
  }
  .section__pricing-cards {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .navigation-burger {
    top: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    transition: all 0.3s ease;
    transform: translateX(-89%);
    -webkit-backdrop-filter: blur(3.8px);
            backdrop-filter: blur(3.8px);
    border-radius: 16px 0 0 16px;
    background: rgba(245, 56, 56, 0.8);
    border: 1px solid rgb(245, 56, 56);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
  .sign {
    display: none;
  }
  .sign__in {
    color: var(--color-white);
    padding: 1.3rem 4.5rem;
  }
  .sign__in:hover {
    scale: 1.1;
  }
  .sign__up {
    background-color: var(--color-white);
    color: var(--color-secondary);
    padding: 1.5rem 4.5rem;
    border: 1px solid var(--color-white);
  }
  .sign__up:hover {
    background-color: transparent;
    color: var(--color-white);
    box-shadow: 0rem 2.5rem 2.5rem -1rem var(--color-primary-shadow);
  }
  .sign-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-size: 3rem;
    margin-top: 60rem;
  }
  .navigation-1 {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 8rem;
  }
  .links__link {
    font-size: 3rem;
    color: var(--color-white);
  }
  .links__link:hover {
    scale: 1.1;
  }
  #close {
    width: 35px;
    align-self: end;
    margin-top: 2rem;
    margin-right: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  html {
    font-size: 5.5px;
  }
  .containers {
    row-gap: 6rem;
  }
  .navigation-burger {
    width: 58%;
    transform: translateX(-83%);
    transition: all 0.3s ease-in-out;
  }
  .sign-1 {
    font-size: 3rem;
    margin-top: 50rem;
  }
  .about {
    flex-direction: column;
    gap: 3rem;
  }
  .section__content {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  .section__title {
    font-size: 22.5px;
  }
  .section__rectangle-content {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
  }
  .section__rectangle-num {
    text-align: center;
  }
  .section__button {
    border: calc(var(--border) - 1px) solid var(--color-primary);
    box-shadow: 0rem 0.5rem 2.5rem -1rem var(--color-primary);
    margin: 0;
  }
  .section__features {
    flex-direction: column;
    gap: 1rem;
  }
  .section__pricing-card:hover {
    border: calc(var(--border) - 1px) solid var(--color-primary);
  }
  .section__pricing-card button {
    border: calc(var(--border) - 1px) solid var(--color-primary);
  }
  .section__subscribe__button {
    border: calc(var(--border) - 1px) solid var(--color-primary);
  }
  .section__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8rem;
    grid-row-gap: 0.5rem;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .paragraph {
    font-size: 9px;
  }
  .help__customers {
    flex-direction: column;
    gap: 3rem;
  }
  .help__customer:hover {
    transform: scale(1.025);
  }
  .help__slider {
    display: none;
  }
  .footer {
    padding: 4rem 2rem;
  }
}/*# sourceMappingURL=style.css.map */