:root {
  --container-width: 15rem;
  --gutter: 2rem;
  --color-primary: #f53838;
  --color-primary-shadow: #f5383859;
  --color-secondary: #f53855;
  --color-white: #fff;
  --color-border: #dddddd;
  --color-span: #dde0e4;
  --color-border-span: #eeeff2;
  --color-price-span: #0b132a;
  --color-paragraph: #4f5665;
  --color-very-dark-blue: #0d1025;
  --border: 2px;
  --border-radius: 10px;
  --line-height-70: 7rem;
  --line-height-30: 3rem;
  --line-height-40: 4rem;
  --line-height-50: 5rem;
  --line-height-60: 6rem;
  --font-size-12: 1.2rem;
  --font-size-14: 1.4rem;
  --font-size-16: 1.6rem;
  --font-size-18: 1.8rem;
  --font-size-20: 2rem;
  --font-size-24: 2.4rem;
  --font-size-25: 2.5rem;
  --font-size-28: 2.8rem;
  --font-size-30: 3rem;
  --font-size-32: 3.2rem;
  --font-size-35: 3.5rem;
  --font-size-40: 4rem;
  --font-size-45: 4.5rem;
  --font-size-50: 5rem;
  --font-size-60: 6rem;
  --font-size-70: 7rem;
  --font-size-80: 8rem;
  --font-size-90: 9rem;
  --font-size-100: 10rem;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-900: 900;
  --line-height-30: 3rem;
  --line-height-40: 4rem;
  --line-height-50: 5rem;
  --line-height-60: 6rem;
  --line-height-70: 7rem;
  --line-height-80: 8rem;
  --line-height-90: 9rem;
  --line-height-100: 10rem;
  --line-height-110: 11rem;
  --line-height-120: 12rem;
  --line-height-130: 13rem;
  --line-height-140: 14rem;
  --line-height-150: 15rem;
  --line-height-160: 16rem;
  --line-height-170: 17rem;
  --line-height-180: 18rem;
  --img-1-width: 61.124rem;
  --img-1-height: 38.244rem;
  --img-2-width: 50.812rem;
  --img-2-height: 41.471rem;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
  font-family: Rubik;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-size: 1.6rem;
  font-family: Rubik;
  line-height: 1.896rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* End CSS Reset */

.containers {
  max-width: 144rem;
  display: grid;
  margin: 0 auto;
  padding: 0 var(--gutter);
  overflow: hidden;
  gap: 10rem;
}

@media (max-width: 600px) {
  .container {
    gap: calc(var(--default-padding) * 2);
  }
}

.paragraph {
  color: var(--color-paragraph);
}

/* #features,
#pricing,
#testimonials,
#help {
  padding: 10rem 0;
} */

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--gutter);
}
@media (max-width: 600px) {
  .header {
    font-size: 1.4rem;
  }
}

.logoContent__logo {
  width: 14.9rem;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  font-weight: 400;
  list-style: none;
}
/* SIGN */
.sign {
  display: flex;
  gap: 3rem;
  font-weight: 500;
}
.sign__in {
  align-self: center;
}
.sign__up {
  background-color: var(--color-white);
  color: var(--color-secondary);
  padding: 1.3rem 4.5rem;
  border: var(--border) solid var(--color-secondary);
  border-radius: calc(var(--border-radius) * 5);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
  }
  &:active {
    background-color: var(--color-white);
    color: var(--color-secondary);
  }
}
/* END HEADER */

/* SECTION */
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__content {
  max-width: 55.5rem;
}

.section__content:nth-child(2) {
  max-width: 26.742rem;
}

.section__title {
  font-size: 5rem;
  font-weight: 500;
  line-height: var(--line-height-70);

  span {
    font-weight: 700;
  }
}

.section__description {
  margin: 2rem 0;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-30);
}

.section__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  & li {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 3rem;
  }

  & img {
    margin-right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
  }
}

.section__button {
  font-weight: 700;
  font-size: var(--font-size-16);
  line-height: var(--line-height-25);
  margin-top: 3rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1.75rem 7.75rem;
  border: var(--border) solid var(--color-primary);
  border-radius: var(--border-radius);
  box-shadow: 0rem 2.5rem 2.5rem -1rem var(--color-primary-shadow);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
    box-shadow: none;
  }

  &:active {
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0rem 2.5rem 2.5rem -1rem var(--color-primary-shadow);
  }
}

.section__image {
  width: var(--img-1-width);
  height: var(--img-1-height);
}
/* SECTION RECTANGLE */
.section__rectangle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.721rem 9.1rem;
  border: var(--border) solid var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: 0rem 1rem 7.6rem -7rem var(--color-very-dark-blue);

  & span {
    height: 12.557rem;
    border: calc(var(--border) - 1px) solid var(--color-border-span);
  }
}

.section__rectangle-content {
  display: flex;
  column-gap: 3.65rem;
  align-items: center;
}

.section__rectangle-icon {
  width: 100%;
  height: 5.5rem;
}

.section__rectangle-num {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 4.5rem;
}

.section__rectangle-paragraph {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: var(--color-paragraph);
}
/* SECTION FEATURES */
.section__features {
  display: flex;
  flex-direction: row-reverse;

  & h2 {
    font-size: var(--font-size-35);
    line-height: var(--line-height-50);
  }

  & .section__image {
    width: var(--img-2-width);
    height: var(--img-2-height);
  }
}
/* SECTION PRICING */
.section__pricing {
  display: flex;
  flex-direction: column;
}

.pricing__title {
  font-size: var(--font-size-35);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-50);
  justify-content: center;
}

.section__description-pricing {
  margin: 2rem 0;
  text-align: center;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-30);
}

.section__pricing-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  align-items: center;
  justify-content: space-around;
  margin: 4rem;
}

.section__pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 33rem;
  height: 76rem;
  /* padding: 4rem 4rem 5rem; */
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius);
  transition: all 0.3s ease;
  box-shadow: 0rem 2rem 7rem -7rem #0d1025;

  &:nth-child(1) > .section__pricing-card-pricing {
    margin: 13rem 0 5rem;
  }

  &:nth-child(2) > .section__pricing-card-pricing {
    margin: 9rem 0 5rem;
  }

  &:nth-child(3) > .section__pricing-card-pricing {
    margin: 5rem 0 5rem;
  }

  &:hover {
    border: var(--border) solid var(--color-primary);
  }

  & button {
    background-color: var(--color-white);
    color: var(--color-primary);
    padding: 1.3rem 6.29rem;
    border: var(--border) solid var(--color-primary);
    border-radius: calc(var(--border-radius) * 5);
    /* margin-bottom: 3.3rem; */
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
    line-height: 18.96px;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
      box-shadow: 0rem 2.5rem 2.5rem -1rem var(--color-primary-shadow);
    }

    &:active {
      background-color: var(--color-white);
      color: var(--color-primary);
      box-shadow: none;
    }
  }
}

.section__pricing-card-image {
  width: 14.49rem;
  height: 16.537rem;
  margin-top: 7.963rem;
}

.section__pricing-card-title {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-18);
  line-height: var(--line-height-30);
  margin: 3rem 0;
}

.section__pricing-card-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-30);

  & li {
    display: flex;
    align-items: center;
    gap: 2rem;

    & img {
      width: 1.333rem;
      height: 0.907rem;
    }
  }
}

.section__pricing-card-pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
}

.section__pricing-card-price {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-25);
  line-height: var(--line-height-30);
  text-align: center;

  & span {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-25);
    line-height: var(--line-height-30);
  }
}

/* SECTION TESTIMONIALS */
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* second solution */

  /* & div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;

    & h3 {
      font-weight: var(--font-weight-500);
      font-size: var(--font-size-35);
      line-height: var(--line-height-50);
    }

    & p {
      font-weight: var(--font-weight-400);
      font-size: var(--font-size-16);
      line-height: var(--line-height-30);

      & span {
        font-weight: var(--font-weight-500);
      }
    }
  } */
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;

  & h3 {
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-35);
    line-height: var(--line-height-50);
  }

  & p {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-16);
    line-height: var(--line-height-30);

    & span {
      font-weight: var(--font-weight-500);
    }
  }
}

.testimonials__image {
  margin: 15.581rem 0 3.581rem;
}

/* HELP */
.help {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;

  & h3 {
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-35);
    line-height: var(--line-height-50);
  }

  & p {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-16);
    line-height: var(--line-height-30);
  }
}

.help__customers {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin: 6rem 0;
}

.help__customer {
  width: 40rem;
  height: 23rem;
  padding: 3rem;
  border: var(--border) solid var(--color-border);
  border-radius: var(--border-radius);
  box-shadow: 0rem 2rem 7rem -7rem #0d1025;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    border: var(--border) solid var(--color-primary);
  }
}

.help__customer-content {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.help__customer-leftSide {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.help__customer-right {
  margin-left: auto;

  & span {
    margin-right: 1rem;
  }

  & img {
    width: 1.6rem;
  }
}

.help__customer-image {
  width: 5rem;
  height: 5rem;
}

.help__customer-head {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.help__customer-name {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-18);
}

.help__customer-country {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
}

.help__customer-description {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-30);
}

.help__slider {
  width: 100%;
  gap: 1rem;
  margin-bottom: 6.5rem;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spans {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.span-1 {
  background-color: var(--color-primary);
  border-radius: calc(var(--border-radius) * 5);
  width: 4.5rem;
  height: 1.5rem;
}

.span {
  background-color: var(--color-span);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.arrows {
  display: flex;
  gap: 2rem;
  font-size: 3rem;
  color: var(--color-primary);
}

.arrow-1 {
  border: var(--border) solid var(--color-primary);
  border-radius: 100%;
  padding: 1.5rem;
  width: 6.5rem;
  height: 6.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  rotate: 180deg;

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}

.arrow {
  border: var(--border) solid var(--color-primary);
  border-radius: 100%;
  padding: 1.5rem;
  width: 6.5rem;
  height: 6.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}
/* END SECTION */

/* FOOTER */
.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  padding: var(--default-padding) 0;
  font-size: 1.4rem;
}
/* END FOOTER */

/* RESPONSIVE */
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);
  }
}
.footer::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: var(--color-very-dark-blue);
  z-index: -1;
}
.footer__left {
  margin-right: auto;
}
@media (max-width: 600px) {
  .footer__left {
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
