@import "mixins.scss";
:root {
  --color-primary: #f53838;
  --color-primary-shadow: #f5383859;
  --color-secondary: #f53855;
  --color-white: #fff;
  --color-border: #dddddd;
  --color-very-dark-blue: #0d1025;
  --border: 0.125rem; // 2px
  --border-radius: 0.625rem; // 10px
  --button-height: 3.75rem; // 60px
  --button-width: 15.625rem; // 250px
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.896rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

/* End CSS Reset */
.container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  // margin:  5rem 15rem;
  gap: calc(var(--default-padding) * 4);
  max-width: var(--desktop-width);

  @include mobile {
    gap: calc(var(--default-padding) * 2);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    font-size: 1.4rem;
  }
}

.logoContent {
  &__logo {
    width: 14.9rem;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  font-weight: 400;
}

.sign {
  display: flex;
  gap: 3rem;
  font-weight: 500;

  &__in {
    padding-top: 1.3rem;
  }

  &__up {
    background-color: var(--color-white);
    color: var(--color-primary);
    padding: 1.3rem 4.5rem;
    border: var(--border) solid var(--color-primary);
    border-radius: calc(var(--border-radius) * 5);
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__content {
    max-width: 55.5rem;
  }

  &__title {
    font-size: 5rem;
    font-weight: 500;
    line-height: var(--line-height-head);

    span {
      font-weight: 700;
    }
  }

  &__description {
    margin: 1.5rem 0;
    font-size: 1.6rem;
    line-height: var(--line-height-para);
  }

  &__button {
    margin-top: 5rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1.3rem 4.5rem;
    border: var(--border) solid var(--color-primary);
    border-radius: var(--border-radius);
  }

  &__image {
    width: var(--img-1-width);
    height: var(--img-1-height);
  }
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  padding: var(--default-padding) 0;
  font-size: 1.4rem;

  @include mobile {
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: var(--color-very-dark-blue);
    z-index: -1;
  }

  &__left {
    margin-right: auto;

    @include mobile {
      margin-right: 0;
    }
  }
}
/*# sourceMappingURL=style.css.map */
